@font-face {
	font-family: 'Axiata';
	src: local('AxiataRegular'), url('./fonts/AxiataRegular.TTF') format('truetype');
}
@font-face {
	font-family: 'Axiata';
	src: local('AxiataBold'), url('./fonts/AxiataBold.TTF') format('truetype');
}
@font-face {
	font-family: 'Axiata';
	src: local('AxiataMedium'), url('./fonts/AxiataMedium.TTF') format('truetype');
}
/* @font-face {
	font-family: 'Axiata';
	src: local('AxiataItalic'), url('./fonts/AxiataItalic.OTF') format('opentype');
} */

.emulated-flex-gap.emulated-flex-gap {
	--gap: 12px;
	display: inline-flex;
	flex-wrap: wrap;
	margin: calc(-1 * var(--gap)) 0 0 calc(-1 * var(--gap));
	width: calc(100% + var(--gap));
}

.emulated-flex-gap > * {
	margin: var(--gap) 0 0 var(--gap);
}

.gradient-purple {
	background: linear-gradient(99deg, #6c25e0 7.5%, #c54eed 61.74%, #e55df1 101.67%);
}

.test {
	position: relative;
	background-color: #e55df1;
}

.test::after {
	/* get CONTENT text */
	content: attr(data-content);
	position: absolute;
	top: 10px;
	left: 10px;
	bottom: 10px;
	right: 10px;
	background-color: #6c25e0;
}
