@font-face {
	font-family: 'Axiata';
	src: local('AxiataRegular'), url('./fonts/AxiataRegular.TTF') format('truetype');
}
@font-face {
	font-family: 'Axiata';
	src: local('AxiataBold'), url('./fonts/AxiataBold.TTF') format('truetype');
}
@font-face {
	font-family: 'Axiata';
	src: local('AxiataMedium'), url('./fonts/AxiataMedium.TTF') format('truetype');
}
/* @font-face {
	font-family: 'Axiata';
	src: local('AxiataItalic'), url('./fonts/AxiataItalic.OTF') format('opentype');
} */
@font-face {
	font-family: 'Inter';
	src: local('InterExtraBold'), url('./fonts/InterExtraBold.ttf') format('truetype');
}

.background-techdays {
	background: url('./assets/background.png') no-repeat;
	background-size: cover;
	background-position: center;
	/* background-rotate */
}

.gradient-purple {
	background: linear-gradient(99deg, #6c25e0 7.5%, #c54eed 61.74%, #e55df1 101.67%);
}

.gradient-blue {
	background: linear-gradient(250.35deg, #22e6ce -1.73%, #3479ff 80.38%);
}

.gradient-techdays {
	background: linear-gradient(85.76deg, #c83681 -1.38%, #15488a 54.53%, #632b90 105.97%);
}
