.pio
.vscode
.clang_complete
.gcc-flags.json

# webapp
/data
/data_src
/data_react_src

*Thumbs.db
/data/www
# /lib/framework/WWWData.h
/interface/build
/interface/node_modules
/interface/.eslintcache
